<template>
  <div class="submit-form">
  <h3>Crear nueva oferta</h3>
    <div v-if="!submitted">
      <div class="form-group">
        <label for="title">Titulo</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          v-model="tutorial.title"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="description">Descripción</label>
        <input
          class="form-control"
          id="description"
          required
          v-model="tutorial.description"
          name="description"
        />
      </div>

      <div class="form-group">
        <label for="area">Area</label>
        <input
          class="form-control"
          id="area"
          required
          v-model="tutorial.area"
          name="area"
        />
      </div>

      <div class="form-group">
        <label for="city">Ciudad</label>
        <input
          class="form-control"
          id="city"
          required
          v-model="tutorial.city"
          name="city"
        />
      </div>

      <div class="form-group">
        <label for="requirements">Requerimientos</label>
        <input
          class="form-control"
          id="requirements"
          required
          v-model="tutorial.requirements"
          name="requirements"
        />
      </div>

      

      <button @click="saveTutorial" class="btn btn-success">Guardar</button>
    </div>

    <div v-else>
      <h4>Oferta añadida correctamente!</h4>
      <button class="btn btn-success" @click="newTutorial">Añadir</button>
    </div>
  </div>
</template>

<script>
import TutorialDataService from "../services/TutorialDataService";

export default {
  name: "add-tutorial",
  data() {
    return {
      tutorial: {
        id: null,
        title: "",
        description: "",
        area: "",
        city: "",
        requirements: "",
        published: false
      },
      submitted: false
    };
  },
  methods: {
    saveTutorial() {
      var data = {
        title: this.tutorial.title,
        description: this.tutorial.description,
        area: this.tutorial.area,
        city: this.tutorial.city,
        requirements: this.tutorial.requirements
      };

      TutorialDataService.create(data)
        .then(response => {
          this.tutorial.id = response.data.id;
          console.log(response.data);
          this.submitted = true;
        })
        .catch(e => {
          console.log(e);
        });
    },
    
    newTutorial() {
      this.submitted = false;
      this.tutorial = {};
    }
  }
};
</script>

<style>
.submit-form {
  max-width: 300px;
  margin: auto;
}
</style>
