<template>
  <div class="list row">
    
    <div class="col-md-12">
      <h2>Ofertas</h2>
      <!--
      <ul class="list-group">
        <li class="list-group-item"
          :class="{ active: index == currentIndex }"
          v-for="(tutorial, index) in tutorials"
          :key="index"
          @click="setActiveTutorial(tutorial, index)"
        >
          {{ tutorial.title }}
          {{tutorial.description}}
        </li>
      </ul>
      -->
      <div class="row">
        <div class="border mt-3 col-md-6 p-3" style="" :class="{ active: index == currentIndex }" v-for="(tutorial, index) in tutorials" :key="index" @click="setActiveTutorial(tutorial, index)">
          <img v-bind:src="tutorial.image" style="width: 75px; height: 75px; float: right">
          <h4>{{ tutorial.title }}</h4>
          <p>Area: {{ tutorial.area }}</p>
          <p>Ciudad: {{ tutorial.city }}</p>
          <p>Descripción:</p>
          <p>{{ tutorial.description }}</p>
          <p>Requerimientos: </p>
          <p>{{ tutorial.requirements }}</p>
          <button class="btn btn-md btn-info" @click="addToFavourites(tutorial.id, tutorial.title, tutorial.area, tutorial.city, tutorial.description, tutorial.requirements, tutorial.image)">Añadir a favoritos</button>
        </div>
      </div>

    </div>
    <h3 class="mt-3">Ofertas favoritas</h3>
    <br>
    <div
          class="col-lg-12"
          v-for="favourite in favourites"
          :key="favourite._id"
          >
          <div class="border p-3">
            <img v-bind:src="favourite.image" style="width: 75px; height: 75px; float: right">
            <h4>{{ favourite.title }}</h4>
            <p>Area: {{ favourite.area }}</p>
            <p>Ciudad: {{ favourite.city }}</p>
            <p>Descripción:</p>
            <p>{{ favourite.description }}</p>
            <p>Requerimientos: </p>
            <p>{{ favourite.requirements }}</p>
            <button class="btn btn-md btn-danger" @click="removeFavourite(favourite.id)">Eliminar favorito</button>
          </div>
          
     </div>
     <button class="btn btn-danger" @click="emptyFavourites()">Empty favourites</button>
    <!--
    <div class="col-md-4">
      <div v-if="currentTutorial">
        <h4>Tutorial</h4>
        <div>
          <label><strong>Title:</strong></label> {{ currentTutorial.title }}
        </div>
        <div>
          <label><strong>Description:</strong></label> {{ currentTutorial.description }}
        </div>
        <div>
          <label><strong>Area:</strong></label> {{ currentTutorial.area }}
        </div>
        <div>
          <label><strong>City:</strong></label> {{ currentTutorial.city }}
        </div>
        <div>
          <label><strong>Requirements:</strong></label> {{ currentTutorial.requirements }}
        </div>
        <div>
          <label><strong>Status:</strong></label> {{ currentTutorial.published ? "Published" : "Pending" }}
        </div>

        <router-link :to="'/offers/' + currentTutorial.id" class="badge badge-warning">Edit</router-link>
      </div>
      <div v-else>
        <br />
        <p>Please click on a Tutorial...</p>
      </div>
    </div>
    -->
  </div>
</template>

<script>
import TutorialDataService from "../services/TutorialDataService";
import axios from 'axios'

export default {
  name: "tutorials-list",
  data() {
    return {
      tutorials: [],
      currentTutorial: null,
      currentIndex: -1,
      title: "",
      favourites: []
    };
  },
  created() {
    this.getFavourites();
  },
  methods: {
    async getFavourites() {
      /*
      TutorialDataService.getAllFav()
        .then(response => {
          this.favourites = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
      */
      axios.get(" http://localhost:3000/favourites/")
      .then(response=>{
        this.favourites = response.data
      })
      .catch(error=>{
        console.log(error)
      })
    },
    async addToFavourites(id, title, description, area, city, requirements, image) {
      try {
        const response = await fetch("http://localhost:3000/favourites", {
          method: "POST",
          body: JSON.stringify({
            title: title,
            description: description,
            area: area,
            city: city,
            requirements: requirements,
            image: image
          }),
          headers: {
            "Content-type": "application/json; charset=UTF-8",
          },
        });
        let data = await response.json();
        alert("Oferta añadida a favoritos");
        console.log(data);
      } catch (err) {
        alert("Algo salio mal :(");
        console.log(err);
      }
    },
    removeFavourite(idOffer) {
      axios.delete(" http://localhost:3000/favourites/" + idOffer)
      .then(() => {
        this.getFavourites();
      })
      .catch(error => {
        console.log(error);
      })
      /*
      TutorialDataService.deleteFav(idOffer)
        .then(response => {
          console.log(response.data);
          this.refreshList();
        })
        .catch(e => {
          console.log(e);
        });
      const router = this.$router;
      alert("Oferta eliminada de favoritos");
      router.go({path: '/marketplace'})
      */
    },
    emptyFavourites() {
      axios.delete("http://localhost:3000/favourites")
      .then(() => {
        this.getFavourites();
      })
      .catch(error => {
        console.log(error);
      })
    },
    retrieveTutorials() {
      TutorialDataService.getAll()
        .then(response => {
          this.tutorials = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    refreshList() {
      this.retrieveTutorials();
      this.currentTutorial = null;
      this.currentIndex = -1;
    },

    setActiveTutorial(tutorial, index) {
      this.currentTutorial = tutorial;
      this.currentIndex = index;
    },

    removeAllTutorials() {
      TutorialDataService.deleteAll()
        .then(response => {
          console.log(response.data);
          this.refreshList();
        })
        .catch(e => {
          console.log(e);
        });
    },
    
    searchTitle() {
      TutorialDataService.findByTitle(this.title)
        .then(response => {
          this.tutorials = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  mounted() {
    this.retrieveTutorials();
  }
};
</script>

<style>
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
</style>
