<template>
  <div class="list row">
    <div class="col-md-12">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search by title"
          v-model="title"/>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"
            @click="searchTitle"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h4>Lista ofertas</h4>
      <div class="border mt-3 " :class="{ active: index == currentIndex }" v-for="(tutorial, index) in tutorials" :key="index" @click="setActiveTutorial(tutorial, index)">
        <img v-bind:src="tutorial.image" style="width: 75px; height: 75px; float: right">
        <h4>{{ tutorial.title }}</h4>
        <p>Area: {{ tutorial.area }}</p>
        <p>Ciudad: {{ tutorial.city }}</p>
        <p>Descripción:</p>
        <p>{{ tutorial.description }}</p>
        <p>Requerimientos: </p>
        <p>{{ tutorial.requirements }}</p>
        <router-link :to="'/offers/' + tutorial.id" class="badge badge-warning">Edit</router-link>
      </div>

      <button class="m-3 btn btn-sm btn-danger" @click="removeAllTutorials">
        Remove All
      </button>
    </div>

    <div class="col-md-4">
      <div v-if="currentTutorial">
        <h4>Oferta</h4>
        <div>
           {{ currentTutorial.title }}
        </div>
        <div>
          <label><strong>Descripción:</strong></label> {{ currentTutorial.description }}
        </div>
        <div>
          <label><strong>Area:</strong></label> {{ currentTutorial.area }}
        </div>
        <div>
          <label><strong>Ciudad:</strong></label> {{ currentTutorial.city }}
        </div>
        <div>
          <label><strong>Requerimientos:</strong></label> {{ currentTutorial.requirements }}
        </div>

        <router-link :to="'/offers/' + currentTutorial.id" class="badge badge-warning">Edit</router-link>
      </div>
      <div v-else>
        <br />
        <p>Clica en una oferta...</p>
      </div>
    </div>
    
  </div>
</template>

<script>
import TutorialDataService from "../services/TutorialDataService";

export default {
  name: "tutorials-list",
  data() {
    return {
      tutorials: [],
      currentTutorial: null,
      currentIndex: -1,
      title: ""
    };
  },
  methods: {
    retrieveTutorials() {
      TutorialDataService.getAll()
        .then(response => {
          this.tutorials = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    refreshList() {
      this.retrieveTutorials();
      this.currentTutorial = null;
      this.currentIndex = -1;
    },

    setActiveTutorial(tutorial, index) {
      this.currentTutorial = tutorial;
      this.currentIndex = index;
    },

    removeAllTutorials() {
      TutorialDataService.deleteAll()
        .then(response => {
          console.log(response.data);
          this.refreshList();
        })
        .catch(e => {
          console.log(e);
        });
    },
    
    searchTitle() {
      TutorialDataService.findByTitle(this.title)
        .then(response => {
          this.tutorials = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  mounted() {
    this.retrieveTutorials();
  }
};
</script>

<style>
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
</style>
